[pushover]
user_key: {{ onepasswordRead "op://SP5/SP5 Pushover Api Token/username" }}
token: {{ onepasswordRead "op://SP5/SP5 Pushover Api Token/credential" }}

[net]
public_url: {{ onepasswordRead "op://SP5/SP5 Pi/website" }}
