# [bltouch]
# sensor_pin: ^sht:PROBE_1
# control_pin: sht:PROBE_2
# pin_up_touch_mode_reports_triggered: false
# z_offset = 2.290
# x_offset: -25.2
# y_offset: -34.7

# # Enable safe_z_home when using bltouch as endstop
# # Need to disable when using klicky probe
# [safe_z_home]
# #home_xy_position: 155, 155 # Change coordinates to the center of your print bed
# home_xy_position: 50, 240
# speed: 50
# z_hop: 10                 # Move up 10mm
# z_hop_speed: 15

# klicky probe
[probe]
pin: ^sht:PROBE_1 # ^ pullup for limit switches like Klicky 
samples: 2
x_offset: 1.5
y_offset: -27
z_offset: 4.855

# probe
# toolhead: X:50.000000 Y:47.000000 Z:1.947500 E:0.000000
# nozzle
# toolhead: X:51.500000 Y:20.000000 Z:-1.952500 E:0.000000
